.container {
  display: flex;
  flex-direction: column;
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: 720px;

  @media screen and (min-width: 720px) {
    flex-direction: row;
  }
}

.meta {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding: 8px 32px 8px 8px;

  @media screen and (min-width: 720px) {
    flex-direction: column;
  }

  p {
    margin: 2px;
    padding-right: 16px;
  }
}

.author {
  color: var(--fg-secondary);
}

.main {
  border: 1px solid var(--fg-divider);
  border-radius: 6px;
  width: 100%;

  h2 {
    margin: 16px 16px 4px;
    width: calc(100vw - 96px);

    @media screen and (min-width: 720px) {
      width: 560px;
    }
  }
}

.desc {
  border-top: 1px solid var(--fg-divider);
  margin: 0 8px;
  padding: 8px;
  width: calc(100vw - 64px);

  @media screen and (min-width: 720px) {
    width: 560px;
  }
}
