.container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 720px;
}

.meta {
  padding: 8px;
  width: 20%;

  p {
    margin: 2px;
  }
}

.author {
  color: var(--fg-secondary);
}

.main {

  border: 1px solid var(--fg-divider);
  border-radius: 6px;
  flex-grow: 1;

  h2 {
    margin: 16px;
  }
}

.desc {

  border-top: 1px solid var(--fg-divider);
  margin: 0 8px;
  padding: 8px;
}
